<h1 mat-dialog-title>{{ title }}</h1>
<button type="button" mat-button (click)="closeDialog(false)"></button>
<div mat-dialog-content>
  <h4 *ngIf="message !== ''">{{ message }}</h4>
</div>
<div class="dialogButtons" mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="closeDialog(false)">Cancelar</button>
  <button mat-raised-button color="primary" (click)="closeDialog(true)">Confirmar</button>
</div>


