<mat-card><h1 mat-dialog-title>Añadir nueva tarea</h1></mat-card>
<div mat-dialog-content>
  <mat-card class="mat-elevation-z2" fxLayout="column">
    <!--  Name-->
    <mat-form-field>
      <input required placeholder="Nombre" matInput [(ngModel)]="data.name" #name="ngModel">
    </mat-form-field>
    <!--  Image-->
    <ng-container>
      <button type="button" mat-raised-button (click)="fileInput.click()">
        <i class="fas fa-upload"></i>
        Seleccionar imagen de tarea
      </button>
      <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file">
    </ng-container>
    <div class="image">
      <img src="{{data.image}}" width="110px" height="110px">
    </div>
    <mat-list>
      <mat-divider></mat-divider>
    </mat-list>
    <div *ngFor="let picto of data.helpPictos; let index = index; trackBy:customTrackBy" class="step"
         fxLayout="row" fxLayoutAlign="space-evenly center">
      <button type="button" mat-raised-button (click)="fileInput.click()">
        <i class="fas fa-upload"></i>
        Pictograma {{index + 1}}
      </button>
      <input hidden (change)="onStepFileSelected($event, index)" #fileInput type="file" id="filePicto{{index}}">
      <div class="image">
        <img src="{{data.helpPictos[index]}}" width="110px" height="110px">
      </div>
      <button mat-mini-fab (click)="deleteStep(index)" class="deleteStep"><i class="far fa-trash-alt"></i></button>
    </div>
    <button mat-raised-button color="primary" (click)="addStep()" class="stepButton">Añadir paso</button>
  </mat-card>
</div>
<div class="dialogButtons" mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="closeDialog()">Cancelar</button>
  <button mat-raised-button color="primary" #add [mat-dialog-close]="data"
          [disabled]="validate()">Añadir
  </button>
</div>
