<mat-card><h1 mat-dialog-title>Añadir sesión al calendario</h1></mat-card>
<div mat-dialog-content>
  <mat-card class="mat-elevation-z2" fxLayout="column" fxLayoutAlign="center center">
    <ng-container class="studentSelector">
      <form [formGroup]="sessionsForm">
        <mat-form-field>
          <mat-select formControlName="session" placeholder="Sesión">
            <mat-option>
              <ngx-mat-select-search [formControl]="sessionFilterCtrl"
                                     placeholderLabel="Buscar sesión..."
                                     noEntriesFoundLabel="'ninguna sesión encontrada'">
                <i ngxMatSelectSearchClear class="fas fa-times"></i>
              </ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let session of filteredSessions | async" [value]="session">
              <img src="{{session.image}}" width="30" heigth="30">
              {{session.name}} |
              <i *ngIf="!session.soundsDisabled" class="fas fa-lg fa-volume-up"></i>
              <i *ngIf="session.soundsDisabled" class="fas fa-lg fa-volume-mute"></i>
              <i *ngIf="!session.animationsDisabled" class="fas fa-lg fa-eye"></i>
              <i *ngIf="session.animationsDisabled" class="fas fa-lg fa-eye-slash"></i>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </ng-container>
    <img *ngIf="sessionsForm.get('session').value !== ''" src="{{sessionsForm.get('session').value.image}}"
         width="100" heigth="100">
  </mat-card>
</div>
<div class="dialogButtons" mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="closeDialog()">Cancelar</button>
  <button mat-raised-button color="primary" #add [mat-dialog-close]="setData()">Añadir
  </button>
</div>
