.mat-card {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.dialogButtons {
  float: right;
}

.input {
  margin-top: 0.5em;
}

.mat-form-field {
  margin-top: 1em;
}

img {
  border: solid 1px black;
}

.fas{
  margin-left: 0.5em;
}
