<div class="title" fxLayoutAlign="center">
  <h1>{{data.name}}</h1>
</div>
<div class="task" fxLayout="row" fxLayoutAlign="center">
  <button class="stepButton" mat-stroked-button color="accent" (click)="previousStep(this.helpNum)">
    <i class="far fa-4x fa-hand-point-left"></i>
  </button>
  <div class="step" fxLayoutAlign="center center">
    <img class="picto" [src]="getTaskImage()" width="100" height="100">
  </div>
  <button class="stepButton" mat-stroked-button color="accent" (click)="nextStep(this.helpNum)">
    <i class="far fa-4x fa-hand-point-right"></i>
  </button>
</div>
<div class="closeDialog" fxLayout="row" fxLayoutAlign="center">
  <button [disabled]=disableFinish() mat-raised-button color="accent" (click)="closeDialog()">¡He terminado!</button>
</div>
