.task {
  height: 70%;
}

.stepButton {
  width: 20%;
  height: 90%;
  border: none;
  color: yellowgreen;
}

.picto{
  width: 90%;
  height: 90%;
}

.step {
  padding-right: 5%;
  padding-left: 5%;
  width: 60%;
  height: 90%;

  border: solid rgba(0, 0, 0, .12) 1px;
  border-radius: 4px;
  margin-left: 1%;
  margin-right: 1%;
}

.closeDialog {
  height: 12%;

  button {
    font-size: 25px;
  }
}
