<mat-toolbar class="mat-elevation-z1" fxLayoutAlign="center center">
  <span class="title">Organizador de tareas</span>
</mat-toolbar>
<div class="login" fxLayoutAlign="center center">
  <mat-card>
    <form class="custom-form" fxLayout="column" method="post">
      <h2>Inicio de sesión</h2>
      <mat-form-field>
        <input matInput
               [formControl]="emailFormControl"
               type="email"
               [(ngModel)]="email"
               name="email"
               placeholder="Email"
               required="required"
        />
      </mat-form-field>
      <mat-form-field>
        <input matInput
               type="password"
               [(ngModel)]="password"
               name="password"
               placeholder="Contraseña"
               required="required"
        />
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" (click)="login()">Entrar</button>
    </form>
    <a href="/register">¿No está registrado?</a>
    <p class="error" *ngIf="error">Email o contraseña incorrectos</p>
  </mat-card>
</div>
