.menu {
  width: 100%;
  height: calc(100% - 64px);
  max-width: 100%;
  max-height: 100%;
}

.mat-toolbar {
  height: 64px;
}

::ng-deep {
  body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
  }
}

span {
  font-size: 30px;
}

i {
  margin-right: 2%;
}

.mat-stepper-vertical {
  background-color: aliceblue;
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

button {
  margin-right: 0.5em;
}

span {
  font-size: 25px;
}

table, mat-paginator {
  width: 70%;
  background-color: aliceblue;
}

.filter {
  width: 160px;
}

.fa-volume-up, .fa-volume-mute {
  margin-right: 1em;
}

i.fa-plus-square {
  margin-right: 1em;
}

.play {
  margin-right: 2em;
}

p span {
  font-size: 12px;
}

td {
  height: 60px;
}

.mat-mini-fab {
  box-shadow: none;
}

.filters {
  width: 70%;
}
