<mat-toolbar class="mat-elevation-z1" fxLayoutAlign="none center">
  <button mat-button (click)="backToMenu()" color="primary"><i class="fas fa-2x fa-arrow-left"></i></button>
  <span>Sesiones guardadas</span>
</mat-toolbar>
<div class="menu" fxLayout="column" fxLayoutAlign="center center">
  <div class="filters" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-form-field class="filter">
      <mat-label>Buscar por nombre</mat-label>
      <input matInput (keyup)="applyFilter($event)">
    </mat-form-field>
    <button class="session-button" mat-raised-button color="primary" (click)="createSesion()">
      <i class="fas fa-lg fa-plus"></i>
      Añadir sesión
    </button>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Mode Column -->
    <ng-container matColumnDef="mode">
      <th mat-header-cell *matHeaderCellDef> Modo</th>
      <td mat-cell *matCellDef="let element">
        <p>
          <span *ngIf="element.mode === 'free'">Libre con </span>
          <span *ngIf="element.mode === 'sequence'">Secuencia con </span>
          <span *ngIf="element.selection === 'click'">click</span>
          <span *ngIf="element.selection === 'drag'">arrastre</span>
        </p>
      </td>
    </ng-container>

    <!-- Settings Column -->
    <ng-container matColumnDef="settings">
      <th mat-header-cell *matHeaderCellDef> Sonido y efectos</th>
      <td mat-cell *matCellDef="let element">
        <i *ngIf="!element.soundsDisabled" title="Sonidos activados" class="fas fa-lg fa-volume-up"></i>
        <i *ngIf="element.soundsDisabled" title="Sonidos desactivados" class="fas fa-lg fa-volume-mute"></i>
        <i *ngIf="!element.animationsDisabled" title="Animaciones activadas" class="fas fa-lg fa-eye"></i>
        <i *ngIf="element.animationsDisabled" title="Animaciones desactivadas" class="fas fa-lg fa-eye-slash"></i>
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones</th>
      <td mat-cell *matCellDef="let element">
        <div fxLayoutAlign="none space-between">
          <button mat-mini-fab color="accent" (click)="playSession(element._id)" class="play">
            <i class="fas fa-play"></i>
          </button>
          <div>
            <button mat-mini-fab color="primary">
              <i class="fas fa-pencil-alt"></i>
            </button>
            <button mat-mini-fab color="warn" (click)="deleteSession(element._id)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" class="mat-elevation-z2"></mat-paginator>
</div>
