.menu {
  width: 100%;
  height: calc(100% - 64px);
  max-width: 100%;
  max-height: 100%;
}

.mat-toolbar {
  height: 64px;
}

::ng-deep {
  body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgb(240, 248, 255), rgb(240, 248, 250));
  }
}

span {
  font-size: 30px;
}

span.name {
  font-size: 15px;
  color: #3f51b5;
  width: 33%;
}

span.title {
  width: 33%;
}

.logout {
  width: 30%;
}

.logoutButton {

}

i {
  margin-right: 2%;
}

.session-button {
  //border: solid #cccccc 1px;
  margin-left: 0.5em;
  background-color: lightblue;
  padding: 1.5em;
  min-width: 140px;

  p {
    margin: 1%;
    color: #3f51b5;
  }
}

.session-buttons {
  width: 100%;
  margin-bottom: 1%;
}

.settings-button {
  background-color: lightblue;
  margin-left: 0.5em;
  padding: 0.5em;
}

.settings-buttons {
  width: 100%;
}

.menu {
  width: 100%;
  height: 90%;
}
