<mat-toolbar class="mat-elevation-z1" fxLayoutAlign="space-between center">
  <span class="name" *ngIf="user">Bienvenido {{user.name}}</span>
  <span class="title">Organizador de tareas</span>
  <div class="logout" fxLayoutAlign="end">
    <button class="logoutButton" mat-button color="primary" (click)="logout()"><i class="fas fa-lg fa-sign-out-alt"></i>
      Salir
    </button>
  </div>
</mat-toolbar>
<div class="menu" fxLayout="column" fxLayoutAlign="center center">
  <div class="session-buttons" fxLayout="row" fxLayoutAlign="center center">
    <button class="session-button" mat-button color="primary" (click)="startSesion()">
      <i class="far fa-5x fa-play-circle"></i>
      <p>Sesiones</p>
    </button>
    <button class="session-button" mat-button color="primary" (click)="redirectToCalendar()">
      <i class="fas fa-5x fa-calendar-week"></i>
      <p>Calendario</p>
    </button>
  </div>
  <div class="settings-buttons" fxLayout="row" fxLayoutAlign="center center">
    <button class="settings-button" mat-button color="primary" (click)="redirectToTasks()">
      <i class="fas fa-2x fa-tasks"></i>
      Tareas
    </button>
    <button class="settings-button" mat-button color="primary" (click)="redirectToUsers()">
      <i class="fas fa-2x fa-user"></i>
      Usuarios
    </button>
    <button class="settings-button" mat-button color="primary" (click)="redirectToSettings()">
      <i class="far fa-2x fa-chart-bar"></i>
      Estadísticas
    </button>
  </div>
</div>
