<div *ngFor="let task of doneList; let i = index" fxLayout="column" class="task-box">
  <div *ngIf="tasks[i] !== ''"
       cdkDropList
       id="{{'doneList' + (i + 1)}}"
       class="task-list"
       cdkDropListSortingDisabled
       [ngClass]="{'animate__animated animate__pulse animate__delay-2s animate__infinite': doneAnimation[i]}"
       [cdkDropListData]="doneList[i]"
       [cdkDropListConnectedTo]="[]"
       (dblclick)="dblClickMove($event, i)"
       (cdkDropListDropped)="doneZoneDrop($event, i)"
       [cdkDropListEnterPredicate]="oneElement">
    <div class="task" [ngClass]="{'animate__animated animate__tada': !animationsDisabled}"
         *ngIf="doneList[i]._id !== 'null'" [cdkDragDisabled]="true" cdkDrag>
      <img src="{{doneList[i].image}}" height="110" width="110">
    </div>
  </div>
</div>
