<div>
  <form [formGroup]="studentForm">
    <mat-form-field>
      <mat-select (selectionChange)="changeStats()" formControlName="student" placeholder="Estudiante">
        <mat-option>
          <ngx-mat-select-search [formControl]="studentFilterCtrl"
                                 placeholderLabel="Buscar estudiante..."
                                 noEntriesFoundLabel="'ningún estudiante encontrado'">
            <i ngxMatSelectSearchClear class="fas fa-times"></i>
          </ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let student of filteredStudents | async" [value]="student">
          <img src="{{student.image}}" width="30" heigth="30">
          {{student.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>

<div fxLayout="row">

  <div class="logList">
    <h2>Sesiones realizadas</h2>
    <table mat-table [dataSource]="dataSource">

      <!-- Name Column -->
      <ng-container matColumnDef="session_name">
        <th mat-header-cell *matHeaderCellDef> Nombre</th>
        <td mat-cell *matCellDef="let element"> {{element.session_name}} </td>
      </ng-container>

      <!-- Time Column -->
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> Tiempo</th>
        <td mat-cell *matCellDef="let element"> {{element.time}} </td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Fecha</th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>

  <div class="logChart" fxLayout="column" fxLayoutAlign="center none">
    <h2>Comparación de sesiones</h2>
    <canvas baseChart
            *ngIf="dataLoaded"
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
    </canvas>
  </div>

</div>
