.logList {
  height: 100%;
  width: 40%;
}

.logChart {
  width: 60%;
  height: 100%;
  background-color: aliceblue;
}

table, mat-paginator {
  width: 90%;
  background-color: aliceblue;
}

h2 {
  font-family: American Typewriter, Helvetica, sans-serif;
  margin-left: 1em;
}

.mat-form-field {
  margin-left: 1em;
  margin-top: 1em;
}
