<mat-toolbar class="mat-elevation-z1" fxLayoutAlign="none center">
  <button mat-button (click)="backToSessions()" color="primary"><i class="fas fa-2x fa-arrow-left"></i></button>
  <span>Agregar sesión</span>
</mat-toolbar>
<div class="menu" fxLayout="column" fxLayoutAlign="center center">
  <mat-vertical-stepper [linear]="true" class="mat-elevation-z2" #stepper>
    <mat-step [stepControl]="tasks1">
      <mat-card class="mat-elevation-z2">
        <mat-label>Detalles</mat-label>
        <mat-list>
          <mat-divider></mat-divider>
        </mat-list>
        <form [formGroup]="nameForm" fxLayout="row" fxLayoutAlign="none center">
          <ng-template matStepLabel>Seleccione los detalles de la sesión</ng-template>
          <mat-form-field>
            <input matInput placeholder="Nombre de la sesión" formControlName="name" required>
          </mat-form-field>
        </form>
      </mat-card>
      <form [formGroup]="tasksForm">
        <mat-card class="mat-elevation-z2">
          <mat-label>Tareas</mat-label>
          <mat-list>
            <mat-divider></mat-divider>
          </mat-list>
          <div fxLayout="row" fxLayoutAlign="none center">
            <div *ngIf="tasksForm.value.task1['image']">
              <img class="taskImg" src="{{tasksForm.value.task1['image']}}">
            </div>
            <mat-form-field>
              <mat-select formControlName="task1" placeholder="Primera tarea">
                <mat-option>
                  <ngx-mat-select-search [formControl]="taskFilterCtrl1"
                                         placeholderLabel="Buscar tarea..."
                                         noEntriesFoundLabel="'ninguna tarea encontrada'">
                    <i ngxMatSelectSearchClear class="fas fa-times"></i>
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let task of filteredTasks1 | async" [value]="task">
                  <img src="{{task.image}}" width="30" heigth="30">
                  {{task.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="tasksForm.value.task2['image']">
              <img class="taskImg" src="{{tasksForm.value.task2['image']}}">
            </div>
            <mat-form-field>
              <mat-select formControlName="task2" placeholder="Segunda tarea (opcional)">
                <mat-option>
                  <ngx-mat-select-search [formControl]="taskFilterCtrl2"
                                         placeholderLabel="Buscar tarea..."
                                         noEntriesFoundLabel="'ninguna tarea encontrada'">
                    <i ngxMatSelectSearchClear class="fas fa-times"></i>
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let task of filteredTasks2 | async" [value]="task">
                  <img src="{{task.image}}" width="30" heigth="30">
                  {{task.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="none center">
            <div *ngIf="tasksForm.value.task3['image']">
              <img class="taskImg" src="{{tasksForm.value.task3['image']}}">
            </div>
            <mat-form-field>
              <mat-select formControlName="task3" placeholder="Tercera tarea (opcional)">
                <mat-option>
                  <ngx-mat-select-search [formControl]="taskFilterCtrl3"
                                         placeholderLabel="Buscar tarea..."
                                         noEntriesFoundLabel="'ninguna tarea encontrada'">
                    <i ngxMatSelectSearchClear class="fas fa-times"></i>
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let task of filteredTasks3 | async" [value]="task">
                  <img src="{{task.image}}" width="30" heigth="30">
                  {{task.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="tasksForm.value.task4['image']">
              <img class="taskImg" src="{{tasksForm.value.task4['image']}}">
            </div>
            <mat-form-field>
              <mat-select formControlName="task4" placeholder="Cuarta tarea (opcional)">
                <mat-option>
                  <ngx-mat-select-search [formControl]="taskFilterCtrl4"
                                         placeholderLabel="Buscar tarea..."
                                         noEntriesFoundLabel="'ninguna tarea encontrada'">
                    <i ngxMatSelectSearchClear class="fas fa-times"></i>
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let task of filteredTasks4 | async" [value]="task">
                  <img src="{{task.image}}" width="30" heigth="30">
                  {{task.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-card>
        <div>
          <button [disabled]="tasksForm.invalid || nameForm.invalid" mat-raised-button color="primary" matStepperNext>
            Siguiente
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="additionalSettings">
      <form [formGroup]="additionalSettings">
        <ng-template matStepLabel>Ajustes adicionales</ng-template>
        <div fxLayout="column">
          <mat-form-field class="modes">
            <mat-select formControlName="mode" placeholder="Elegir modo de realización">
              <mat-option [value]="'free'">
                Modo Libre | <span class="modeText">Tareas en cualquier orden</span>
              </mat-option>
              <mat-option [value]="'sequence'">
                Modo Secuencia | <span class="modeText">Tareas en el orden indicado</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="modes">
            <mat-select formControlName="selection" placeholder="Elegir modo de selección">
              <mat-option [value]="'click'">
                Modo Puntero | <span class="modeText">Hacer click en tareas</span>
              </mat-option>
              <mat-option [value]="'drag'">
                Modo Arrastre | <span class="modeText">Arrastrar las tareas</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
          <ng-container>
            <mat-checkbox formControlName="animationsDisabled">Animaciones deshabilitadas
            </mat-checkbox>
          </ng-container>
          <ng-container>
            <mat-checkbox formControlName="soundsDisabled">Sonidos deshabilitados</mat-checkbox>
          </ng-container>
        </div>
        <div>
          <button mat-raised-button color="primary" matStepperPrevious>Volver</button>
          <button [disabled]="tasksForm.invalid || additionalSettings.invalid" mat-raised-button color="primary" matStepperNext
                  (click)="createSession()">Guardar sesión
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step state="done">
      <ng-template matStepLabel>Hecho</ng-template>
      <div *ngIf="(!nameForm.invalid && !tasksForm.invalid) && !sessionSaved">
        <button mat-raised-button color="primary" matStepperPrevious>Volver</button>
        <p>¡Guarde la sesión en el paso anterior!</p>
      </div>
      <p *ngIf="nameForm.invalid || tasksForm.invalid || additionalSettings.invalid">¡Termine de seleccionar las tareas de la sesión!</p>
      <div *ngIf="(!nameForm.invalid && !tasksForm.invalid && !additionalSettings.invalid) && sessionSaved">
        <p>¡Sesión guardada!</p>
        <button [disabled]="tasksForm.invalid || additionalSettings.invalid" mat-raised-button color="primary" matStepperPrevious
                (click)="redirectToHome()">Volver al menú
        </button>
        <button [disabled]="tasksForm.invalid || additionalSettings.invalid" mat-raised-button color="primary"
                (click)="redirectToDashboard()">Empezar sesión
        </button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
