.menu {
  width: 100%;
  height: calc(100% - 64px);
  max-width: 100%;
  max-height: 100%;
}

.mat-toolbar {
  height: 64px;
}

::ng-deep {
  body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
  }
}

span {
  font-size: 30px;
}

i {
  margin-right: 2%;
}

.mat-stepper-vertical {
  background-color: aliceblue;
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.mat-form-field {
  width: 300px;
  margin-right: 0.5em;
}

.mat-checkbox {
  margin: 2%;
}

button {
  margin-right: 0.5em;
}

.mat-stepper-vertical {
  width: 100%;
  height: 100%;
}

span {
  font-size: 25px;
}

.mat-card {
  background-color: aliceblue;
  margin-bottom: 0.5em;
  border: solid #3f51b5 1px;
}

.mat-divider {
  border-top-color: #3f51b5;
}

img {
  margin-right: 0.5em;
  border: solid black 1px;
}

img.taskImg {
  height: 40px;
  width: 40px;
}

.modeText {
  font-size: 10px;
}

.modes {
  margin-left: 2%
}
