.task-box {
  width: 100%;
  height: 25%;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-list {
  min-width: 154px;
  min-height: 154px;
  border: dashed 2px black;
  //min-height: 60px;
  border-radius: 4px;
  overflow: hidden;
  display: inline-block;
}

.task {
  //Task size
  margin: 20px;

  border: solid 2px black;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.task-list.cdk-drop-list-dragging .todo-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

h2 {
  text-align: center;
}
