<div *ngFor="let task of tasks; let i = index" fxLayout="column" fxLayoutAlign="center center" class="task-box">
  <div
    cdkDropList
    id="{{'todoList' + (i + 1)}}"
    class="task-list"
    cdkDropListSortingDisabled
    [cdkDropListDisabled]=dragDisabled()
    [cdkDropListData]=task
    [cdkDropListConnectedTo]="connectList[i]"
    (cdkDropListDropped)="drop($event, i)">
    <div *ngIf="activeTasks[i]"
         [ngClass]="{' animate__animated animate__pulse animate__delay-3s animate__infinite': hasAnimation(i), 'no': !activate}"
         class="task" cdkDrag
         (click)="taskClick(task, i)">
      <img src="{{task.image}}" (mousedown)="activate=false" [style.opacity]="setOpacity(i)" height="110" width="110">
    </div>
  </div>
</div>
