<mat-card><h1 mat-dialog-title><i class="fas fa-pencil-alt"></i>Editar usuario</h1></mat-card>
<div mat-dialog-content>
  <mat-card class="mat-elevation-z2" fxLayout="column">
    <!--  Image-->
    <ng-container>
      <button type="button" mat-raised-button (click)="fileInput.click()">
        <i class="fas fa-upload"></i>
        Cambiar imagen de perfil
      </button>
      <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file">
    </ng-container>
    <div class="image">
      <img src="{{data.image}}" width="110px" height="110px">
    </div>
    <!--  Name-->
    <mat-form-field>
      <input placeholder="Nombre" matInput [(ngModel)]="data.name" value="{{data.name}}" #name="ngModel">
    </mat-form-field>
    <!--  Age-->
    <mat-form-field>
      <input placeholder="Edad" type="number" min="1" step="1" matInput [(ngModel)]="data.age" value="{{data.age}}"/>
    </mat-form-field>
  </mat-card>
</div>
<div class="dialogButtons" mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="closeDialog()">Cancelar</button>
  <button mat-raised-button color="primary" #add [mat-dialog-close]="data"
          [disabled]="validate(data.role) || data.password !== this.confirmPassword">
    Actualizar
  </button>
</div>
