.mat-card {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.dialogButtons {
  float: right;
}

.input {
  margin-top: 0.5em;
}

.mat-form-field {
  margin-top: 1em;
}

.image {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  img {
    padding-top: 0.5em;
  }
}
