<div class="user-setting">

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <mat-form-field class="filter">
      <mat-label>Buscar por nombre de usuario</mat-label>
      <input matInput (keyup)="applyFilter($event)">
    </mat-form-field>
    <button mat-raised-button class="addButton" color="primary" (click)="createUser()">
      <i class="fas fa-lg fa-user-plus"></i>
      Agregar usuario
    </button>
  </div>
  <table mat-table [dataSource]="dataSource">

    <!-- Image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> Imagen de perfil</th>
      <td mat-cell *matCellDef="let element"><img class="mat-elevation-z3" [src]="element.image"/></td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Age Column -->
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Edad</th>
      <td mat-cell *matCellDef="let element"> {{element.age}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones</th>
      <td mat-cell *matCellDef="let element">
        <button mat-mini-fab color="primary" (click)="updateUser(element, element._id)"><i class="fas fa-pencil-alt"></i></button>
        <button mat-mini-fab color="warn" (click)="deleteUser(element._id)"><i class="fas fa-trash-alt"></i></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
