//Left Box
.todo-box {
  width: 30% !important;
  height: 100%;
  border: solid black;
  background-color: #FFB5E8;

  display: flex;
  justify-content: center;
}

app-to-do-sequence, app-to-do-free {
  height: 100%;
}

//Middle Box
.work-box {
  width: 40%;
  height: 100%;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;

  border: solid black;
  background-color: #FFFFCC;
}

//Right Box
.done-box {
  width: 30% !important;
  height: 100%;
  border: solid black;
  background-color: #CCFFCC;

  display: flex;
  justify-content: center;
}

app-done-sequence, app-done-free {
  height: 100%;
}


.task-list {
  margin-top: 5%;
  min-width: 110px;
  min-height: 110px;
  border: dashed 2px black;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}


.workTask {
  border: dashed black 2px;
}

.task.cdk-drag-disabled {
  background: #ccc;
  cursor: default;
}

.task {
  margin: 20px;
  min-height: 40px;
  min-width: 40px;
  height: 114px;
  width: 114px;
  border: solid 2px black;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}


.toolbar-title {
  flex: 1 1 auto;
  text-align: center;
  max-width: 50%;
}

.dashboard {
  height: 90%;
  background-color: aliceblue;
}

.toolbar {
  height: 10%;
  background-color: aliceblue;
  font-size: 45px;
  padding: 10px;
  //Display
  display: flex;
  justify-content: center;
  align-items: center;
}

.userImage {
  border: solid 1px #3f51b5;
  border-radius: 10px;
}

.doneTasksImages {
  padding-bottom: 2%;
  width: 100%;

  img {
    border: solid 2px black;
    margin: 2%;
  }
}

.doneTasksArrows {
  width: 100%;

  img {
    padding: 2%;
  }
}

::ng-deep {
  body, html {
    height: 100%;
  }
}

.finishButton {
  width: 250px;
  height: 80px;
  font-size: 20px;
}

//CDK Drop List

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.task-list.cdk-drop-list-dragging .work-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
