<div class="toolbar" fxLayout="row" fxLayoutAlign="space-between center">
  <h1></h1><h1 *ngIf="userImage"></h1><h1 *ngIf="userImage"></h1>
  <span class='toolbar-title'>
    Hora
    <img src="../../assets/images/hora.png" alt="Hora" height="42" width="42">
    de trabajar
    <img src="../../assets/images/trabajar_en_el_ordenador.png" alt="Trabajar" height="42" width="42">
  </span>
  <img class="userImage" *ngIf="userImage" [src]="userImage" width="60" height="60">
  <button mat-icon-button color="warn" (click)="backToMenuConfirm()">
    <mat-icon><i class="fas fa-lg fa-door-open"></i></mat-icon>
  </button>
</div>
<div class="dashboard" fxLayout="row" fxLayoutAlign="space-between stretch">
  <div *ngIf="session" fxLayout="column" class="todo-box">
    <app-to-do-sequence *ngIf="session.mode === 'sequence'"
                        (taskClicked)="onTodoClick($event)"
                        (dropped)="onTodoDrop($event)">
    </app-to-do-sequence>
    <app-to-do-free *ngIf="session.mode === 'free'"
                    (taskClicked)="onTodoClick($event)"
                    (dropped)="onTodoDrop($event)">
    </app-to-do-free>
  </div>

  <div fxLayout="column" class="work-box">
    <ng-container *ngIf="!finished">
      <div class="doneTasksArrows" fxLayout="row" fxLayoutAlign="center center">
        <img *ngFor="let arr of array(tasksNumber); index as i"
             [style.visibility]="setArrow(i) ? 'visible' : 'hidden'"
             src="../../assets/images/down-arrow.png" width="70px" height="70px">
      </div>
      <div class="doneTasksImages" fxLayout="row" fxLayoutAlign="center center">
        <img *ngFor="let arr of array(tasksNumber); index as i" src="{{setImage(i)}}" width="70px" height="70px">
      </div>
      <div
        cdkDropList
        id="workingZone"
        class="task-list"
        [cdkDropListData]="working"
        [cdkDropListConnectedTo]="connectedList"
        (cdkDropListDropped)="workZoneDrop($event)"
        [cdkDropListEnterPredicate]="oneElement">
        <div *ngIf="actualTask._id !== 'null'"
             class="task"
             cdkDrag
             (click)="taskClick()">
          <img [src]="actualTask.image" height="110" width="110"></div>
      </div>
    </ng-container>
    <ng-container *ngIf="finished">
      <h1 class="final animate__animated animate__heartBeat">!Hemos terminado!</h1>
      <button *ngIf="userImage" class="finishButton" mat-raised-button color="accent" (click)="backToCalendar()">Volver
        al calendario
      </button>
      <button *ngIf="!userImage" class="finishButton" mat-raised-button color="accent" (click)="backToMenu()">Volver al
        menu
      </button>
    </ng-container>
  </div>
  <div *ngIf="session" fxLayout="column" class="done-box">
    <app-done-sequence *ngIf="session.mode === 'sequence'"
                       (finished)="finishSession()"
                       (dropped)="onZoneDrop($event)"
    ></app-done-sequence>
    <app-done-free *ngIf="session.mode === 'free'"
                   (finished)="finishSession()"
                   (dropped)="onZoneDrop($event)"
    ></app-done-free>
  </div>
</div>
