<div class="menu" fxLayout="column" fxLayoutAlign="center center">
  <div class="topCalendar mat-elevation-z1" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="backButton">
      <button mat-button title="Volver al menu"
              [disabled]="!editable"
              (click)="backToMenu()"
              color="primary">
        <i class="fas fa-2x fa-arrow-left"></i>Volver
      </button>
    </div>
    <h1 *ngIf="user" fxLayoutAlign="center center">
      Semana de {{getUserName()}}
      <img class="userImage" [src]="user.image" width="60" height="60">
    </h1>
    <div class="studentSelector">
      <form [formGroup]="studentForm" fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field [style.visibility]="checkVisibility()">
          <mat-select (selectionChange)="changeCalendar()" formControlName="student" placeholder="Estudiante">
            <mat-option>
              <ngx-mat-select-search [formControl]="studentFilterCtrl"
                                     placeholderLabel="Buscar estudiante..."
                                     noEntriesFoundLabel="'ningún estudiante encontrado'">
                <i ngxMatSelectSearchClear class="fas fa-times"></i>
              </ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let student of filteredStudents | async" [value]="student">
              <img src="{{student.image}}" width="30" heigth="30">
              {{student.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button class="editing" mat-icon-button color="primary"
                [style.visibility]="checkVisibility()"
                (click)="deleteCalendar()">
          <mat-icon title="Borrar calendario">
            <i class="fas fa-lg fa-trash-alt"></i></mat-icon>
        </button>
        <button class="editing" mat-icon-button color="primary">
          <mat-icon *ngIf="editable" title="Deshabilitar edición" (click)="edit(true)">
            <i class="fas fa-lg fa-eye-slash"></i></mat-icon>
          <mat-icon *ngIf="!editable" title="Habilitar edición" (click)="edit(false)">
            <i class="fas fa-lg fa-eye"></i></mat-icon>
        </button>
      </form>
    </div>
  </div>
  <div class="calendar" fxLayout="row" fxLayoutAlign="center center">
    <div *ngFor="let day of days;index as i" class="weekDay mat-elevation-z4 {{day.class}}" fxLayout="column"
         fxLayoutAlign="none center">
      <h3>{{day.name}}</h3>
      <div class="sessions" *ngIf="user && user.calendar" fxLayout="column" fxLayoutAlign="space-evenly center">
        <div class="sessionContainer" *ngFor="let session of array(5); index as j">
          <button class="session3" mat-button *ngIf="!user.calendar[i][j] && editable">
            <i class="far fa-5x fa-plus-square" (click)="addSession(i)"></i>
          </button>
          <button [disabled]="editable" class="imageButton" mat-button *ngIf="user.calendar[i][j]"
                  (click)="redirectToDashboard(user.calendar[i][j])">
            <img src="{{getImage(user.calendar[i][j],i, j)}}" [style.opacity]="setOpacity(user.calendar[i][j])" class="sessionImage">
            <button *ngIf="editable" class="deleteButton" mat-mini-fab color="warn" (click)="deleteCalendarSession(i,j)">
              <mat-icon><i class="fas fa-trash-alt"></i></mat-icon>
            </button>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
