.topCalendar {
  height: 10%;
  width: 100%;
}

.calendar {
  height: 90%;
  width: 100%;
}

.weekDay {
  width: 12%;
  height: 90%;
  margin-right: 0.5em;
  margin-left: 0.5em;
  border-radius: 15px;
  font-family: American Typewriter, Helvetica, sans-serif;
  color: white;
}

.mon {
  background-color: red;
  opacity: 0.7;
}

.tue {
  background-color: orange;
  opacity: 0.7;
}

.wed {
  background-color: yellowgreen;
  opacity: 0.7;
}

.thurs {
  background-color: green;
  opacity: 0.7;
}

.fri {
  background-color: cornflowerblue;
  opacity: 0.7;
}

.sat {
  background-color: dodgerblue;
  opacity: 0.7;
}

.sun {
  background-color: blueviolet;
  opacity: 0.7;
}

.fa-sign-out-alt {
  color: red;
}

.sessions {
  height: calc(97.5% - 36px);
  width: 100%;
}

.sessionContainer {
  height: 20%;
}

.sessionImage {
  height: 70%;
  border: solid 2px black;
  border-radius: 10px;
}

h3 {
  height: 2.5%;
}

.imageButton {
  height: 100%;
}

.deleteButton {
  position: absolute;
  bottom: 10px; /*your button position*/
  right: 10px; /*your button position*/

  width: 25px;
  height: 25px;
  line-height: 15px;
  font-size: 15px;

  &::ng-deep .mat-button-wrapper {
    line-height: 15px;
    padding: 0;

    .mat-icon {
      font-size: 15px;
      padding-right: 5px;
      padding-top: 5px;
    }
  }
}

h1 {
  font-family: American Typewriter, Helvetica, sans-serif;
  width: 70%;
}

form {
  margin-right: 100px;
  margin-top: 1em;
}

.editing {
  margin-left: 0.5em;
}

img.userImage {
  margin-left: 2em;
  border: solid 1px #3f51b5;
  border-radius: 10px;
}

.backButton {
  margin-right: 1em;
  font-size: 15px;
  width: 10%;
}

.studentSelector {
  margin-right: 1em;
  width: 20%;
}

.mat-select-panel {
  margin-right: 5em;
}

span {
  font-size: 25px;
}

i.fa-arrow-left {
  margin-right: 10%;
  margin-left: 10%;
}

i.fa-plus-square {
  opacity: 0;
}

i.fa-plus-square:hover {
  opacity: 0.5;
}

.menu {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.mat-form-field {
  margin-left: 1em;
}

::ng-deep {
  body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
  }
}

