h2 {
  margin-left: 1%;
}

.addButton {
  margin-right: 1%;
}

.user-setting {
  background-color: aliceblue;
}

.mat-card {
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  display: flex;
  align-items: center;
}

.userButtons button {
  margin-left: 0.5em;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: 70px;
  height: 70px;
  margin: 0.5em;
}

.profileImg {

}

.userInfo {
  display: flex;
  align-items: center;
}

span {
  margin-left: 1em;
  font-size: larger;
}

table, mat-paginator {
  width: 100%;
  background-color: aliceblue;
}

td button {
  margin-left: 0.5em;
}

.mat-form-field {
  margin: 0.5em;
}

.filter {
  margin-left: 1.5em;
}
