<div class="user-setting">

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <mat-form-field class="filter">
      <mat-label>Buscar por nombre de tarea</mat-label>
      <input matInput (keyup)="applyFilter($event)">
    </mat-form-field>
    <button mat-raised-button class="addButton" color="primary" (click)="createTask()">
      <i class="fas fa-lg fa-plus"></i>
      Agregar tarea
    </button>
  </div>
  <table mat-table [dataSource]="dataSource">

    <!-- Image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> Imagen de tarea</th>
      <td mat-cell *matCellDef="let element"><img class="mat-elevation-z3" [src]="element.image"/></td>
      <td mat-footer-cell *matFooterCellDef>
        <button mat-raised-button (click)="backToMenu()" color="primary">Volver al menú</button>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones</th>
      <td mat-cell *matCellDef="let element">
        <button mat-mini-fab color="primary" (click)="updateTask(element, element._id)"><i class="fas fa-pencil-alt"></i></button>
        <button mat-mini-fab color="warn" (click)="deleteTask(element._id)"><i class="fas fa-trash-alt"></i></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
