<div *ngFor="let task of tasks; let i = index" fxLayout="column" fxLayoutAlign="center center" class="task-box">
  <div
    cdkDropList
    id="{{'todoList' + (i + 1)}}"
    class="task-list"
    cdkDropListSortingDisabled
    [cdkDropListDisabled]=dragDisabled()
    [cdkDropListData]=task
    [cdkDropListConnectedTo]="connectList"
    (cdkDropListDropped)="drop($event, i)">
    <div *ngIf="activeTasks[i]"
         class="task" cdkDrag
         (click)="taskClick(task, i)">
      <img src="{{task.image}}" (mousedown)="activate=false" height="110" width="110">
    </div>
  </div>
</div>
