::ng-deep {
  body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgb(240, 248, 255), rgb(240, 248, 250));
  }
}

.register {
  width: 100%;
  height: calc(100% - 64px);
  max-width: 100%;
  max-height: 100%;
}

.mat-toolbar {
  height: 64px;
}

.mat-card {
  padding: 3%;
  min-width: 210px;
}

form {
  margin-bottom: 1em;
}

h2 {
  color: #3f51b5;
}

span {
  font-size: 30px;
}

p.error {
  color: red
}

a {
  font-size: 13px;
}
