<mat-toolbar class="mat-elevation-z1" fxLayoutAlign="center center">
  <span class="title">Organizador de tareas</span>
</mat-toolbar>
<div class="register" fxLayoutAlign="center center">
  <mat-card>
    <form class="custom-form" fxLayout="column" method="post">
      <h2>Registro</h2>
      <mat-form-field>
        <input matInput
               type="text"
               [(ngModel)]="name"
               name="name"
               placeholder="Nombre"
               required="required"/>
      </mat-form-field>
      <mat-form-field>
        <input matInput
               [formControl]="emailFormControl"
               type="email"
               [(ngModel)]="email"
               name="email"
               placeholder="Email"
               required="required"/>
      </mat-form-field>
      <mat-form-field>
        <input matInput
               type="password"
               [(ngModel)]="password"
               name="password"
               placeholder="Contraseña"
               required="required"/>
      </mat-form-field>
      <mat-form-field>
        <input matInput
               type="password"
               [(ngModel)]="confirmPassword"
               name="password"
               placeholder="Repetir contraseña"
               required="required"/>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit"
              (click)="register()"
              [disabled]="email==='' || password==='' || confirmPassword==='' || name==='' || emailFormControl.invalid"
      >Registrarse
      </button>
    </form>
    <p class="error" *ngIf="error">Las contraseñas no coinciden</p>
    <a href="/login">¿Ya está registrado?</a>
  </mat-card>
</div>
