span {
  font-size: 25px;
}

mat-toolbar i {
  margin-right: 8%;
}

i.tab {
  margin-right: 10%;
}

.mat-tab-label {
  width: 30%;
  background-color: yellow;
}

::ng-deep {
  body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
  }
}

body {

}

.mat-toolbar button {
  margin-right: 1%;
}
