<mat-toolbar class="mat-elevation-z1">
  <button mat-button (click)="backToMenu()" color="primary"><i class="fas fa-2x fa-arrow-left"></i></button>
  <ng-container [ngSwitch]="this.tabIndex">
    <div *ngSwitchCase="0"><i class="fas fa-lg fa-tasks"></i><span>Tareas</span></div>
    <div *ngSwitchCase="1"><i class="fas fa-lg fa-user"></i><span>Usuarios</span></div>
    <div *ngSwitchCase="2"><i class="far fa-lg fa-chart-bar"></i><span>Estadísticas</span></div>
  </ng-container>
</mat-toolbar>

<mat-tab-group
  [color]="tabColor"
  [selectedIndex]=tabIndex
  [backgroundColor]="backgroundTabColor"
  (selectedTabChange)="tabClick($event)"
  animationDuration="0ms"
  class="tabs mat-elevation-z2">
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="tab fas fa-lg fa-tasks"></i>
      Tareas
    </ng-template>
    <app-task-settings></app-task-settings>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <i class="tab fas fa-lg fa-user"></i>
      Usuarios
    </ng-template>
    <app-user-settings></app-user-settings>
  </mat-tab>

  <mat-tab class="settings">
    <ng-template mat-tab-label>
      <i class="tab fas fa-lg fa-chart-bar"></i>
      Estadísticas
    </ng-template>
    <app-statictics></app-statictics>
  </mat-tab>
</mat-tab-group>
